<ng-container *ngIf="postedJobs$ | async as postedJobs" else noJobs>
  @if (!postedJobs.length) {
  <p class="text-center text-gray-500">No posted jobs available at the moment.</p>
  }@else {
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    @for (job of postedJobs; track job.jobTargetId) {
    <div
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100"
    >
      <div class="flex items-center justify-between border-b pb-3">
        <div>
          <h3 class="text-md font-semibold text-gray-900">
            {{ job.jobRequest.title }}
          </h3>
          <p class="text-sm text-gray-500">Cell: {{ job.placementCell.placementCellName }}</p>
        </div>
        <div
          class="text-xs font-medium px-2.5 py-0.5 rounded"
          [ngClass]="{
            'bg-yellow-100 text-yellow-800': job.status === 'pending',
            'bg-green-100 text-green-800': job.status === 'approved',
            'bg-red-100 text-red-800': job.status === 'rejected'
          }"
        >
          {{ job.status | titlecase }}
        </div>
      </div>

      <div class="mt-3 space-y-1 text-sm text-gray-700">
        <p>
          <strong>Created At:</strong>
          {{ job.createdAt ? (job.createdAt | date : 'MM/dd/yy') : 'Not Set' }}
        </p>
      </div>
      <div class="mt-2">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Drive Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [value]="selectedDriveDates.get(job.jobTargetId) || null"
            (dateChange)="onDateChange(job.jobTargetId, $event.value)"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button
          class="mt-2 w-full text-left px-2 py-1 bg-success-text-light text-success-bg-dark rounded-md hover:opacity-70 transition cursor-pointer"
          (click)="createDrive(job)"
        >
          <i class="fa-solid fa-check"></i> Create Drive
        </button>
      </div>
    </div>
    }
  </div>
  }
</ng-container>
