<label class="block text-sm/6 font-medium text-secondary">{{ label() }}</label>
<div class="mt-0.5">
  <div class="flex gap-2">
    <input
      [type]="type()"
      [formControl]="control()"
      [placeholder]="showPlaceholder"
      [readonly]="readonly"
      class="block w-full rounded-md px-3 py-1.5 text-base text-primary placeholder:text-secondary/50 sm:text-sm/6 bg-soft-white bg-opacity-50"
      [ngClass]="{
        'bg-white': readonly,
        ap: !readonly,
      }"
    />
  </div>
</div>
