<app-common-page-layout>
  <div head>
    <h2 class="text-2xl font-bold">Eligibility Criteria</h2>
    <p class="text-md font-semibold text-gray-500">
      Create and manage eligibility criteria for job applications
    </p>
  </div>

  <div aside class="max-w-sm">
    <ul class="space-y-2">
      <li>
        <button
          id="showCreateForm"
          class="w-full text-left px-4 py-2 bg-success-text-light text-success-bg-dark rounded-md hover:opacity-80 transition cursor-pointer"
          (click)="onCreate()"
        >
          <i class="fas fa-plus-circle mr-2"></i> Create New Criteria
        </button>
      </li>
      <li>
        <button
          id="showList"
          class="w-full px-4 py-2 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200 transition cursor-pointer"
          (click)="onViewAll()"
        >
          <i class="fas fa-list mr-2"></i> View All Criteria
        </button>
      </li>
    </ul>
  </div>
  <ng-container>
    @if (mode() === 'VIEW_ALL') {
    <app-criteria-list />
    } @else {
    <app-criteria-operations />
    }
  </ng-container>
</app-common-page-layout>
