<app-toast />

<app-common-page-layout>
  <div head>
    <h2 class="text-2xl font-bold">Job Posting</h2>
    <p class="text-md font-semibold text-gray-500">Manage jobs</p>
  </div>
  <div aside class="max-w-sm">
    <ul class="space-y-2">
      <li>
        <button
          id="showList"
          class="w-full text-left px-4 py-2 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200 transition cursor-pointer"
          (click)="onViewAll()"
        >
          <i class="fas fa-list mr-2"></i> View All Posted Job
        </button>
      </li>
    </ul>
  </div>
  <div>
    @if (!viewJobRequest) {
    <div class="flex gap-2 my-3">

      <p class="text-secondary">Filter by:</p>
      <button
        class="btn px-3 py-1 btn-warning rounded-md hover:opacity-80 transition cursor-pointer"
        [ngClass]="{
          'btn-solid': selectedStatusForFilter() === 'pending',
          'btn-outline': selectedStatusForFilter() !== 'pending'
        }"
        (click)="onFilterSelected('pending')"
      >
        pending
      </button>
      <button
        class="btn px-3 py-1 btn-success rounded-md hover:opacity-80 transition cursor-pointer"
        [ngClass]="{
          'btn-solid': selectedStatusForFilter() === 'approved',
          'btn-outline': selectedStatusForFilter() !== 'approved'
        }"
        (click)="onFilterSelected('approved')"
      >
        approved
      </button>
      <button
        class="btn px-3 py-1 btn-danger rounded-md hover:opacity-80 transition cursor-pointer"
        [ngClass]="{
          'btn-solid': selectedStatusForFilter() === 'rejected',
          'btn-outline': selectedStatusForFilter() !== 'rejected'
        }"
        (click)="onFilterSelected('rejected')"
      >
        rejected
      </button>
    </div>
  }
  </div>
  <ng-container *ngIf="postedJobs$ | async as postedJobs">
    @if (viewJobRequest) {
    <app-view-job />
    }@else {
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      @for (job of postedJobs; track job.jobTargetId) {
      <div
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100"
      >
        <div class="flex items-center justify-between border-b pb-3">
          <div>
            <h3 class="text-md font-semibold text-gray-900">
              {{ job.jobRequest.title }}
            </h3>
          </div>
          <div
            class="text-xs font-medium px-2.5 py-0.5 rounded"
            [ngClass]="{
              'bg-yellow-100 text-yellow-800': job.status === 'pending',
              'bg-green-100 text-green-800': job.status === 'approved',
              'bg-red-100 text-red-800': job.status === 'rejected'
            }"
          >
            {{ job.status | titlecase }}
          </div>
        </div>

        <div class="mt-3 space-y-1 text-sm text-gray-700">
          <p><strong>Company:</strong> {{ job.recruiter.companyName }}</p>
          <p>
            <strong>Date:</strong>
            {{ job.createdAt ? (job.createdAt | date : 'MM/dd/yy') : 'Not Set' }}
          </p>
        </div>
        <div>
          <button
            class="w-full mt-4 text-left px-4 py-2 bg-info-text-dark text-white rounded-md hover:opacity-70 transition cursor-pointer"
            (click)="onViewJobRequest(job.jobRequest.jobRequestId, job.jobTargetId)"
          >
            <i class="fa-solid fa-eye mr-1"></i> View Job Request
          </button>
          <div class="flex mt-4 gap-2">
            @if(job.status === 'pending'){
            <button
              class="w-full text-left px-2 py-1 bg-success-text-dark text-white rounded-md hover:opacity-70 transition cursor-pointer"
              (click)="onAcceptJobTarget(job.jobTargetId)"
            >
              <i class="fa-solid fa-check"></i> Accept Job
            </button>

            <button
              class="w-full text-left px-2 py-1 bg-danger-text-dark text-white rounded-md hover:opacity-70 transition cursor-pointer"
              (click)="onRejectJobTarget(job.jobTargetId)"
            >
              <i class="fa-solid fa-xmark"></i> Reject Job
            </button>
            }
          </div>
        </div>
      </div>
      }
    </div>
    }
  </ng-container>
</app-common-page-layout>
